<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Programming quiz <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'python_quiz' %}">Python</a></li>
          </ul>
        </li>
        <li><a href="{% url 'blog' %}" class="btn btn-large {% if request.user.is_authenticated %} enabled {%else%}disabled{% endif %}">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome <span id="author">{{ request.user.get_username }}</span></a></li>
        <li><a href="{% url 'logout_url' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
        <li><a href="{% url 'register_url' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{% url 'login_url' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block notification_container %}
{% if not request.user.is_authenticated %}
<div class="alert alert-info alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Please log in to create blog.
</div>
{% endif %}
{% endblock %}

<div class="container">
  <span style="font-size:50px">Welcome !!</span>
  <span style="font-size:100px">&#x263A</span>
</div>

{% block content %}
{% endblock %}

</body>
</html>
